.slogan {
  /* margin-bottom: 15vw; */
  margin-top: 15vw;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* padding-left: 15%; */
  padding-right: 30vw;
  color: #f9f9f9;
  font-family: var(--font-rubik);
}
.div1 {
  font-size: 7vw;
  line-height: 1.5;
}

.div2 {
  font-size: 5vw;
  padding-right: 28vw;
  line-height: 1;
}
.div3 {
  padding-left: 28vw;
  font-size: 9vw;
  line-height: 1;
}
