.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #4c66c5, #3f55a6);
}

.footerBody {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  width: 20vw;
  display: flex;
  justify-content: center;
  /* margin-left: 2vw; */
}

.logo {
  width: 15vw;
}

.descriptionContainer {
  margin-top: 2vw;
  margin-top: 2vw;
  border-left: solid 1px #f9f9f9;
  padding-left: 2vw;
}

.descriptionContainer h3 {
  color: #f9f9f9;
  font-size: 16px;
}

.descriptionContainer p {
  color: #c0c0c0;
  font-size: 14px;
}

.website {
  color: #273565;
  padding: 10px;
  font-size: 14px;
}
